<section id="menu" class="section menu">
  <div class="container menu__container">
    <h2 class="menu__title">Restaurant menu-changed</h2>
    <div class="menu__flex">
      <div class="menu__wrap">
        <table class="dishes__table">
          <caption class="dishes__basis">
            Hot dishes-changed
          </caption>
          <tbody>
            <tr class="menu__card-x">
              <td class="dishes__denotation">vagharelo rotlo</td>
              <td rowspan="2" class="dishes__weight">400 г</td>
              <td rowspan="2" class="dishes__price">240 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="dishes__storage">
                Veal, potatoes, cabbage, carrots, onions, beans, 
                garlic, tomatoes, herbs, sour cream
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">lasan vada bateka</td>
              <td rowspan="2" class="dishes__weight">400 г</td>
              <td rowspan="2" class="dishes__price">200 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="dishes__storage">
                potatoes, carrots, onions, 
                mushrooms, soft cheese, greens
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">Ringan nu sak, ne rotlo</td>
              <td rowspan="2" class="dishes__weight">350 г</td>
              <td rowspan="2" class="dishes__price">430 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Tagliatelle pasta, bacon, cream, parmesan cheese, egg, herbs
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">Pav bhaji</td>
              <td rowspan="2" class="dishes__weight">400 г</td>
              <td rowspan="2" class="dishes__price">500 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Pork tenderloin, spices, served with sweet chili 
                sauce and vegetables
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">
                Vaghareli khichdi ne kadhi
              </td>
              <td rowspan="2" class="dishes__weight">400 г</td>
              <td rowspan="2" class="dishes__price">400 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Tender pink salmon, creamy sauce based on white wine
              </td>
            </tr>
          </tbody>
        </table>

        <table class="dishes__table">
          <caption class="dishes__basis">
            Side dishes and appetizers
          </caption>
          <tbody>
            <tr class="menu__card-x">
              <td class="dishes__denotation">Kadhi</td>
              <td rowspan="2" class="dishes__weight">200 г</td>
              <td rowspan="2" class="dishes__price">230 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Zucchini, pepper, tomato, eggplant
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">dal</td>
              <td rowspan="2" class="dishes__weight">150 г</td>
              <td rowspan="2" class="dishes__price">160 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">Potatoes, tomato sauce</td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">fulvada</td>
              <td rowspan="2" class="dishes__weight">150 г</td>
              <td rowspan="2" class="dishes__price">160 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Potatoes, spices, spicy sauce
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">srikhand</td>
              <td rowspan="2" class="dishes__weight">250 г</td>
              <td rowspan="2" class="dishes__price">350 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Pickled cucumber, pickled tomato, sauerkraut, carrots
                in Korean
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">
                sev tameta nu sak
              </td>
              <td rowspan="2" class="dishes__weight">400 г</td>
              <td rowspan="2" class="dishes__price">420 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Chicken wings, honey mustard sauce, served with carrots, 
                celery and blue cheese sauce
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu__wrap">
        <table class="dishes__table">
          <caption class="dishes__basis">
            Салати
          </caption>
          <tbody>
            <tr class="menu__card-x">
              <td class="dishes__denotation">dudhi dal </td>
              <td rowspan="2" class="dishes__weight">230 г</td>
              <td rowspan="2" class="dishes__price">450 грн</td>
            </tr>

            <tr class="menu__card">
              <td class="dishes__storage">
                Chicken fillet, lettuce, cherry tomatoes, parmesan cheese, 
                croutons, caesar dressing
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">bhinda nu sak</td>
              <td rowspan="2" class="dishes__weight">230 г</td>
              <td rowspan="2" class="dishes__price">300 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="dishes__storage">
                Tiger prawns, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar dressing
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">Salad, papad</td>
              <td rowspan="2" class="dishes__weight">230 г</td>
              <td rowspan="2" class="dishes__price">280 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="dishes__storage">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </td>
            </tr>

            <tr class="menu__card-x">
              <td class="dishes__denotation">kachi keri nu salad</td>
              <td rowspan="2" class="dishes__weight">230 г</td>
              <td rowspan="2" class="dishes__price">300 грн</td>
            </tr>
            <tr class="menu__card">
              <td class="dishes__storage">
                Chicken fillet or pork tenderloin, fresh cucumber, 
                tomato, bell pepper, ranch sauce
              </td>
            </tr>
          </tbody>
        </table>
        <table class="dishes__table">
          <caption class="dishes__basis">
            Десерти
          </caption>
          <tbody>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Napoleon cake</p></td>
              <td class="dishes__weight">230 г</td>
              <td class="dishes__price">300 грн</td>
            </tr>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Poppy seed cake</p></td>
              <td class="dishes__weight">230 г</td>
              <td class="dishes__price">300 грн</td>
            </tr>
            <tr class="menu__card-y">
              <td class="dishes__denotation">Tiramisu</td>
              <td class="dishes__weight">120 г</td>
              <td class="dishes__price">260 грн</td>
            </tr>
          </tbody>
        </table>
        <table class="dishes__table">
          <caption class="dishes__basis">
            Напої
          </caption>
          <tbody>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Black/green tea</p></td>
              <td class="dishes__weight">500 мл</td>
              <td class="dishes__price">100 грн</td>
            </tr>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Espresso</p></td>
              <td class="dishes__weight">30 мл</td>
              <td class="dishes__price">100 грн</td>
            </tr>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Americano</p></td>
              <td class="dishes__weight">150 мл</td>
              <td class="dishes__price">100 грн</td>
            </tr>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Cappuccino</p></td>
              <td class="dishes__weight">200 мл</td>
              <td class="dishes__price">160 грн</td>
            </tr>
            <tr class="menu__card-y">
              <td class="dishes__denotation"><p>Latte</p></td>
              <td class="dishes__weight">200 мл</td>
              <td class="dishes__price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="menu__button js-open-modal" data-modal="1">Book a table</button>
  </div>
</section>
