<section class="room__info">
    <div class="container">

        <h2 class="room__info-title">ROOM AMENITIES-changed</h2>

        <p class="room__info-description">
            Description about room amenities changed by bhavya
        </p>

        <ul class="room__features">
            <li class="room__features-item">

                <h3 class="room__features-title">
                    GENERAL-changed
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description feature-column-1">
                        room features columns changed by bhavya
                    </p>

                    <p class="room__features-description">
                        room features description changed by bhavya
                    </p>
                </div>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    BATHROOM-changed
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description feature-column-1 room__vanna-description">
                        description changed by bhavya
                    </p>

                    <p class="room__features-description">
                        description changed by bhavya
                    </p>
                </div>
            </li>

            <li class="room__features-item">

                <h3 class="room__features-title">
                    BEDROOM-changed
                </h3>

                <p class="room__features-description">
                    Bed room features changed by bhavya

                </p>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    КУХНЯ
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description">
                        changed by bhavya
                    </p>

                    <p class="room__features-description">
                        changed by bhavya
                    </p>
                </div>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    MEDIA-changed
                </h3>

                <p class="room__features-description">
                    changed by bhavya
                </p>
            </li>
        </ul>

        <div class="room__nav">
            <button type="button" class="room__booking-button js-open-modal" data-modal="2">
                MAKE A RESERVATION-changed
            </button>

            <a href="./hotel.html" class="room__back-link">
                Return to view homepage-changed <svg class="room__back-icon" width="24" height="24">
                    <use href="/src/images/icons.svg#icon-cil_arrow-right"></use>
                </svg>
            </a>
        </div>

    </div>
</section>