<section class="room__info">
    <div class="container">

        <h2 class="room__info-title">ROOM AMENITIES-changed</h2>
        <h2 class="room__info-title">ROOM AMENITIES are changed</h2>

        <p class="room__info-description">
            room amenities
        </p>

        <ul class="room__features">
            <li class="room__features-item">

                <h3 class="room__features-title">
                    GENERAL-changed
                    GENERAL are changed
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description feature-column-1">
                        room features changed by bhavya
                        room features changed by prince
                    </p>
    
                    <p class="room__features-description">
                        room features changed by bhavya
                        room features changed by prince
                    </p>
                </div>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    Bathroom 
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description feature-column-1 room__vanna-description">
                        Bathroom features changed by bhavya
                        Bathroom features changed by prince
                    </p>
    
                    <p class="room__features-description">
                        Bathroom features changed by bhavya
                        Bathroom features changed by prince
                    </p>
                </div>
            </li>

            <li class="room__features-item">

                <h3 class="room__features-title">
                    BEDROOM-changed
                </h3>

                <p class="room__features-description">
                    Bedroom features changed by bhavya
                    Bedroom features changed by prince
                </p>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    KITCHEN-changed
                </h3>

                <div class="room__features-columns">
                    <p class="room__features-description">
                        kitchen features changed by bhavya
                        kitchen features changed by prince
                    </p>
    
                    <p class="room__features-description">
                        kitchen features changed by bhavya
                        kitchen features changed by prince
                    </p>
                </div>
            </li>

            <li class="room__features-item">
                <h3 class="room__features-title">
                    Media-changed
                    Media are changed
                </h3>

                <p class="room__features-description">
                    media features changed by bhavya
                    media features changed by prince
                </p>
            </li>
        </ul>

            <div class="room__nav">
                <button type="button" class="room__booking-button js-open-modal" data-modal="2">
                    MAKE A RESERVATION-changed
                </button>
            
                <a href="./hotel.html" class="room__back-link">
                    Return to viewing numbers-changed <svg class="room__back-icon" width="24" height="24"><use href="/src/images/icons.svg#icon-cil_arrow-right"></use></svg>
                </a>
            </div>
    </div>
</section>
